<div>
                <div class="row">
                    <div class="col-xs-8">
                        <h3>Progress:</h3>
                        <div class="btn-toolbar">
                            <button class="btn" ng-repeat="question in questions" ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null }" ng-click="setActiveQuestion($index)">
                                <span class="glyphicon" ng-class="{'glyphicon-pencil': question.selected !== null, 'glyphicon-question-sign': question.selected === null }"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h4>Legend: </h4>
                        <div class="col-sm-4">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Unanswered</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="alert alert-danger"ng-show="error">
                        Error! You have not answered all of the questions!
                        <button class="close" ng-click="error=false">&times;</button>
                    </div>
                    <h3>Question:</h3>
                    <div class="well well-sm" ng-hide="finalise">
                        <div class="row">
                            <div class="col-xs-12">
                               <h4>{{activeQuestion+1 + ". " + questions[activeQuestion].text}}</h4>
                                <div class="row" ng-if="questions[activeQuestion].type === 'text'">
                                    <div class="col-sm-6" ng-repeat="answer in questions[activeQuestion].possibilities"><h4 class="answer" ng-class="{'bg-info': $index === questions[activeQuestion].selected}" ng-click="selectAnswer($index)">{{answer.answer}}
                                        </h4>
                                    </div>
                                </div>
                                <div class="row" ng-if="questions[activeQuestion].type === 'img'">
                                    <div class="col-sm-3 col-sm-offset-2"  ng-repeat="answer in questions[activeQuestion].possibilities"><h4 class="image-answer" ng-class="{'image-selected': $index === questions[activeQuestion].selected}" ng-click="selectAnswer($index)"><img ng-src="{{answer.answer}}">
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-warning" ng-click="questionAnswered()">Continue</button>
                    </div>
                    
                </div>
                <div class="well well-sm" ng-show="finalise">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Are you sure you want to submit your answers?</h3>
                            <a ui-sref='results' class="btn btn-success" ng-click="finaliseAnswers()">Yes</a>
                            <button class="btn btn-danger" ng-click="finalise = false">No</button>
                        </div>
                    </div>
                </div>
            </div><!--End of quizCtrl -->